
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  transition: all 700ms ease-in-out;
  opacity: 1;
  visibility: visible;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  transition: all 700ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.ul {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  row-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 50px
}
li {
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 24px;
  line-height: 70px;
  cursor: pointer;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}
.input {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 auto;
  text-align: center;
}
input {
  display: block;
  width: 300px;
  padding: 0 auto;
  text-align: center;
}
label {
  text-align: center;
}
.btn {
  margin-top: 14px;
  border-radius: 4px;
}
.notation {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  align-items: center;
  width: 100%;
  height: 40px;
}

